[submodule "slack-hrbot"]
	path = slack-hrbot
	url = git@github.com:dali-lab/slack-hrbot.git
[submodule "check-in"]
	path = check-in
	url = git@github.com:dali-lab/check-in.git
[submodule "slack-hue"]
	path = slack-hue
	url = git@github.com:dali-lab/slack-hue.git
[submodule "mrtron"]
	path = mrtron
	url = git@github.com:dali-lab/mrtron.git
[submodule "dali-whisperbot"]
	path = dali-whisperbot
	url = git@github.com:dali-lab/dali-whisperbot.git
[submodule "DALI-App-server"]
	path = DALI-App-server
	url = git@github.com:dali-lab/DALI-App-server
[submodule "PMBot"]
	path = PMBot
	url = git@github.com:dali-lab/PMBot
[submodule "Dali-App"]
	path = Dali-App
	url = git@github.com:dali-lab/Dali-App
[submodule "dali-dashboard-api"]
	path = dali-dashboard-api
	url = git@github.com:dali-lab/dali-dashboard-api.git
